# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Database (SQLite)
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Logs & Cache
# =========================
*.log
.cache/
.cache/*
app/cache/__pycache__/

# =========================
# Docker
# =========================
*.pid

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
